html{
    height: 100%;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color:#212529;
    font-family:'Poppins';
    color: white;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    max-height: 100%;
}


header{
    display: flex;
    justify-content: space-between;
    margin: 9px;
}


nav{
    margin: 20px;
}


nav li{
    list-style: none;
    display: inline;
    margin-top: 10px;
    margin-left: 10px;
}

a{
    text-decoration: none;
}

a:visited, a:link{
    color: white;
}

a:hover{
    color:#FFB742
}

.header__list{
    font-weight: bold;
    color: white;
}

button{
    margin: 20px;
    font-weight: 800;
    height: 50px;
    width: 187px;
    background-color:#FFB742;
    color: black;
    border-radius: 35px;
    top: 23.060546875px;
    padding: 12px, 26px, 12px, 26px;
    left: 1271px;
    border: none;
}

.button__menu{
    width: 100px;
}

main{
    flex-grow: 1;
    display: flex;
    margin: 0 auto;
    width: 73%;
}

.image{
    width: 455px;
    height: 493px;
}

.whoIam{
    background: rgba(255, 255, 255, 0.08);
    border-radius: 50px;
    color: #FFB742;
    width: 98px;
    height: 30px;
}
h1{
    margin-left: 17px;
    font-family: 'Roboto';
    font-size: 48px;
    margin-bottom: 36px;
}

.main__paragraph{
    line-height: 30px;
}


footer{
    background-color: #1C1C1C;
    display: flex;
    justify-content: space-between;
    height: 214px;
    margin-top: 115px;
    padding: 34px;
}

.list_footer{
    list-style: none;
    color: #7B7B7B;
    font-size:18px
}

p{
    margin-left: 14px;
    margin-top: 10px;
    margin-right: 15px;
    font-weight: 700;
    line-height: 100%;
}

.footer__email--input{
    display: flex;
    background: #212529;
    border-radius: 50px;
    color: #7C7C7C;
    height: 40px;
    margin: 10px;
    margin-top: 20px;
}


.email__input--button{
    margin: 0;
    width: 40px;
    height: 40px;
}

.footer__email--input > input{
    /* -10 px since we are adding a margin-left of 20 px therefoe 20/2 = 10*/
    width: calc(100% - 40px - 10px);
    margin-left: 20px;
    height: 100%;
    background: none;
    color: #7B7B7B;
    font-weight: 700;
    line-height: 100%;
    border: none;
}

.footer__email_input > input::placeholder{
    color: #7B7B7B;
}

input{
    outline: none;
}