:root {
    /*Dark variables*/
    --main-dark-bg-color: #212529;
    --main-dark-color: #FFFFFF;
    --main-dark-bg-color-gray:#7B7B7B;

    /* general */
    --main-bg-color: #FFFFFF;
    --main-color: #212529;
    --main-active-color: #FFB742;
    --main-dark-bg:#292B2E;
}
/* sobreescribo las variables cuando el active este en modo dark */
:root.dark {
    --main-bg-color: var(--main-dark-bg-color);
    --main-color: var(--main-dark-color);
    --main-dark-bg:var(--main-dark-bg-color-gray);
}


.button__menu{
    width: 100px;
    min-width: 53px;
}

.experience{
    background-color:var(--main-dark-bg-color-gray);
    border-radius: 50px;
    color:var(--main-active-color);
    width: 130px;
    height: 40px;
}


main{
    font-family: "Inter";
    text-align: center;
    flex-grow: 1;
}

.title{
    font-size: 40px;
    line-height: 46px;
    font-weight: 700;
    margin-bottom: 50px
}

section{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

.box-general{
    width:360px;
    height: 385px;
    background-color: var(--secundary-bg-color);
    margin-right:60px ;
    border-radius: 20px;
    margin: 10px;
}


.box-experience{
    display: flex;
    justify-content: space-between;
}

.box-experience-information{
    margin: 17px 0 0 12px;
    text-align: initial;
}

.box-experience-information h3{
    margin-bottom: 10px;
    color: var(--main-color);
    font-weight: bold;
    
}

.box-experience-information span{
    color:var(--main-color);
}

.box-experience img{
    margin:25px;
}
.information{
    text-align: initial;
    margin: 20px 10px 20px 10px;
    color:var(--main-color);
}

@media (max-width:640px){
    footer {
        flex-direction: column;
        height: fit-content;
    }

    footer>*{
        margin-bottom: 15px;
    }

}
