html{
    height: 100%;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color:#212529;
    font-family:'Poppins';
    color: white;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    max-height: 100%;
}

header{
    display: flex;
    justify-content: space-between;
    margin: 9px;
}

main{
    font-family: "Inter";
    text-align: center;
    flex-grow: 1;
}

section{
    display: flex;
    margin: 10px;
    justify-content: space-between;
    margin: 0 auto;
    width: 65%;
}

.box{
    background-color: #292B2E;
    justify-content: center;
}

nav{
    margin: 20px;
}


nav li{
    list-style: none;
    display: inline;
    margin-top: 10px;
    margin-left: 10px;
}

a{
    text-decoration: none;
}

a:visited, a:link{
    color: white;
}

a:hover{
    color:#FFB742
}

button{
    margin: 20px;
    font-weight: 800;
    height: 50px;
    width: 100px;
    background-color:#FFB742;
    color: black;
    border-radius: 35px;
    top: 23.060546875px;
    left: 1271px;
}

.title{
    margin-top: 10px;
    margin-bottom: 10px;

}
footer{
    background-color: #1c1c1c;
    display:flex;
    justify-content: space-between;
}
