html{
    height: 100%;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color:#212529;
    font-family:'Poppins';
    color: white;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    max-height: 100%;
}

header{
    display: flex;
    justify-content: space-between;
    margin: 9px;
}

main{
    font-family: "Inter";
    text-align: center;
    flex-grow: 1;
}

h1{
    text-transform: capitalize;
}

.title__important{
    text-decoration: underline;
    color:#FFB742
}
h4{
    margin-top: 27px;
    margin-bottom: 16px;
}

nav{
    margin: 20px;
}

.header__list{
    font-weight: bold;
    color: white;
}

nav li{
    list-style: none;
    display: inline;
    margin-top: 10px;
    margin-left: 10px;
}

a{
    text-decoration: none;
}

a:visited, a:link{
    color: white;
}

a:hover{
    color:#FFB742
}

button{
    margin: 20px;
    font-weight: 800;
    height: 50px;
    width: 187px;
    background-color:#FFB742;
    color: black;
    border-radius: 35px;
    top: 23.060546875px;
    padding: 12px, 26px, 12px, 26px;
    left: 1271px;
    border: none;
}

.button__menu{
    width: 100px;
}
section{
    display: flex;
    margin: 10px;
    justify-content: space-around;
    margin: 0 auto;
    width: 70%;
    margin-bottom: 10px;
}

.box{
    background-color: #292B2E;
    justify-content: space-between;
    height: 105px;
    width: 450px;
    display: flex;
    font-family: 'Inter';
    border-radius: 8px;
    margin: 0 20px 0 20px;
}

.box__image--one{
    width: 90px;
    height: 70px;
    margin:20px
}

.box__image--two{
    width: 90px;
    height: 70px;
    margin:20px
}

.box__image__three{
    width: 90px;
    height: 70px;
    margin:20px
}

.box__experience{
    color: #FFB742;
    font-weight: 700;
    font-size: 28px;
}

.box__experience--home{
    margin: 20px 75px;
    display: block;
    text-align: center;
}

.box__text{
    font-weight: bold;
    color: #FFFFFF;
}


.title{
    margin-top: 10px;
    margin-bottom: 10px;

}
footer{
    background-color: #1C1C1C;
    display: flex;
    justify-content: space-between;
    height: 214px;
    margin-top: 115px;
    padding: 34px;
}

.list_footer{
    list-style: none;
    color: #7B7B7B;
    font-size:18px
}

p{
    margin-left: 14px;
    margin-top: 10px;
    margin-right: 15px;
    font-weight: 700;
    line-height: 100%;
}

.footer__email--input{
    display: flex;
    background: #212529;
    border-radius: 50px;
    color: #7C7C7C;
    height: 40px;
    margin: 10px;
    margin-top: 20px;
}


.email__input--button{
    margin: 0;
    width: 40px;
    height: 40px;
}

.footer__email--input > input{
    /* -10 px since we are adding a margin-left of 20 px therefoe 20/2 = 10*/
    width: calc(100% - 40px - 10px);
    margin-left: 20px;
    height: 100%;
    background: none;
    color: #7B7B7B;
    font-weight: 700;
    line-height: 100%;
    border: none;
}

.footer__email_input > input::placeholder{
    color: #7B7B7B;
}

input{
    outline: none;
}
